@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 95vh;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-top: 10px;
    margin-left: 580px;
    font-size: 40px;
    word-spacing: 5px;
    letter-spacing: 3px;
    background: 
    linear-gradient(currentColor 0 0) bottom 0 left 0 /var(--d, 0) 3px no-repeat,
    linear-gradient(currentColor 0 0) bottom 6px right 0 /var(--d, 0) 3px no-repeat;
    transition: 0.5s;
    padding-bottom: 8px;
}

h1:hover {
    --d: 100%;
}

.profile {
    height: 250px;
    width: 450px;
    margin-top: 19px;
    margin-left: 150px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 5px;
}

.title {
    font-size: 27px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 3px no-repeat;
    transition: 0.5s;
    cursor: pointer;
    padding-bottom: 4px;
}

.title:hover {
    --d: 27%;
}

.bg1 {
    height: 140px;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.name {
    margin-left: 220px;
    margin-top: -165px;
    font-size: 22px;
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 3px;
}

.designation {
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.skills {
    margin-top: 30px;
    margin-left: 58%;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
}

.awesome {
    margin-top: -170px;
}

.icons {
    padding-top: 5px;
    padding-left: 410px;
    font-size: 25px;
}

.one {
    color: green;
}

.two {
    color: red;
}

.three {
    color: blue;
}

.information {
    padding: 35px 70px 40px;
    font-size: 20px;
    word-spacing: 6px;
}

.bg2 {
    height: 626px;
    width: 626px;
    margin-top: -320px;
    float: right;
}

.main {
    margin-left: 20vh;
    word-spacing: 2px;
    display: flex;
}

.sign-up, .sign-in {
    margin-right: 10px;
    font-size: 20px;
    border: 3px solid black;
    padding: 7px;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200%;
    background-position: right bottom;
    transition: all .6s ease-out;
    border-radius: 20px;
    cursor: pointer;
}

.sign-in:hover, .sign-up:hover {
    color: white;
    background-position: left bottom;
}























































































